.project-post
	overflow: auto

.project-post__intro

	img
		max-height: 500px

.project-sidebar

	position: relative
	z-index: 1500
	float: right
	height: 100%
	width: 30%

.project-sidebar__inner
	height: 100%


.project-post
	margin: 0 auto
	margin-right: 0
	padding: 0 1rem
	max-width: $project-post-max-width

@media (max-width: $media-lg)
	.project-sidebar__inner
		position: static
