.hero
	display: flex
	align-items: center



	width: 100%

	padding: 2rem

.hero__title
	font-size: 3rem
	word-wrap: pre-wrap
	margin-top: 0

.hero__sub-title
	font-size: 36px


.hero__list
	padding: 0
	list-style-type: none

.hero__list__item
	display: inline-block

	&::before
		content: ''
		display: block
		width: 25%
		height: 3px
		background: $gray-10

	&:nth-last-of-type(even)
		margin: 0 15%
