.new-project-list



.new-project-list__wrapper
  display: flex


.new-project-list__item
  display: inline-block
  margin: 0 1rem
  max-width: 500px





.new-project-list__item__heroimg
  width: 100%



.new-project-list__item__title
  font-size: 1.2rem

  *
    margin: 0
