.new-project-list



.new-project-list__wrapper
  display: flex


.new-project-list__item
  display: inline-block
  margin: 0 1rem
  width: 100%
  max-width: 50%




.new-project-list__item__heroimg
  width: 100%
  height: 400px



.new-project-list__item__title
  font-size: 1.2rem

  *
    margin: 0
