<footer class="footer">
  <div class="footer-inner container container--lg">
    <div class="footer-intro">
      <h2 class="footer-intro__title">了解更多</h2>
      <p>這裡是一段簡短的文字介紹這是一個怎麼樣的網站</p>
    </div>
    <ul class="footer-more">
      <li class="footer-more__item">Instagram <br>@ariceball</li>
      <li class="footer-more__item">Behance <br>@ariceball</li>
      <li class="footer-more__item">About Me <br>Works</li>


    </ul>
  </div>
  <small class="copyright">Copyright © {{ site.time | date: '%Y' }} Riceball Design</small>
</footer>