<section class="hero container">
  <div class="hero__inner">

    <div class="hero__content">
      <span class="hero__sub-title">Better Experience</span>
      <h1 class="hero__title">從平面紙張到網頁，<br>追求更好的使用體驗。</h1>

      <ul class="hero__list">
        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">故事</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>

        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">作品</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>

        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">聯絡</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>
      </ul>
    </div>

    <div class="hero-img">

      <img src="assets/imgs/page/index/hero/hero.png" alt="">
    </div>
  </div>

</section>