<section class="hero container">
  <div class="hero__inner">

    <div class="hero__content">

      <svg height="100" width="100">
        <circle cx="50" cy="50" r="40" fill="black" />
      </svg>

      <svg width="100" height="100">
        <rect width="100" height="100" />
      </svg>

      <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="100" height="100" viewBox="0 0 5140 4830" preserveAspectRatio="xMidYMid meet">
        <g id="layer1" fill="#000000" stroke="none">
          <path d="M235 4540 c-7 -12 -156 277 1152 -2237 619 -1190 1131 -2163 1138 -2163 13 0 2286 4358 2289 4388 1 16 -124 17 -2286 20 -1474 1 -2289 -1 -2293 -8z" />
        </g>

      </svg>

      <h1 class="hero__title">從平面紙張到網頁，<br>追求更好的使用體驗。</h1>
      <span class="hero__sub-title">飯糰設計是個創意團體，創造藝術、長久的設計</span>

      <ul class="hero__list">
        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">故事</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>

        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">作品</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>

        <li class="hero__list__item">
          <h2 class="hero__list__item__heading">聯絡</h2>
          了解更多關於<br>
          我的專長、經歷
        </li>
      </ul>
    </div>

    <div class="hero-img">

      <img src="/assets/imgs/page/index/hero/hero.png" alt="">
    </div>
  </div>

</section>