{% include base/base-prefix.html %}


{% if {{include.type}} == 'post' %}
{% assign state = 'main-nav--post' %}
{% endif %}

{% if {{include.type}} == 'logo-only' %}
{% assign state = 'main-nav--logo-only' %}
{% endif %}


<header class="main-nav {{state}}" id="main-nav">

  <a class="main-nav__logo" href="#">
    <img src="/assets/imgs/page/global/logo/logo.svg" alt="logo">
    <div class="logo">
      Riceball
      <br>
      design
    </div>
  </a>

  <nav class="main-nav__nav">
    <a class="main-nav__nav__item{% if page.url == site.url %} active{% endif %}" href="{{ base }}">首頁</a>


    {% comment %}
    The code below dynamically generates a sidebar nav of pages with
    `layout: page` in the front-matter. See readme for usage.
    {% endcomment %}

    {% assign pages_list = site.pages %}
    {% for node in pages_list %}
    {% if node.title != null %}
    {% if node.layout == "page" and node.nav == "on" %}

    {{node.nav}}


    <a class="main-nav__nav__item {% if page.url == node.url %}main-nav__nav__item--active{% endif %} {{current-class}}" href="{{ node.url }}">{{ node.title-tc }}</a>
    {% break %}

    <a class="main-nav__nav__item {% if page.url == node.url %}main-nav__nav__item--active{% endif %} {{current-class}}" href="{{ node.url }}">{{ node.title-tc }}</a>

    {% endif %}
    {% endif %}
    {% endfor %}
  </nav>

  <a class="main-nav__search" href="#">
    <svg height="50" width="50">
      <circle cx="25" cy="25" r="80" fill="gray" />
    </svg>

  </a>

</header>