<div class="title-box">
  <h2 class="title-box__heading">近期新專案</h2>
  <span class="title-box__subheading">New Project</span>
</div>


<section class="new-project-list">
  <div class="new-project-list__wrapper">
    {% assign sortedProjects = site.projects | sort: 'date' | reverse %}

    {% for project in sortedProjects limit: 2 %}
    <article class="new-project-list__item">
      <a class="new-project-list__item__title" href="{{ project.url }}">
        <img class="new-project-list__item__heroimg" src="{{project.image}}" alt="">
      </a>
      <a class="new-project-list__item__title" href="{{ post.url }}">
        <h2>{{ project.title }}</h2>
      </a>

      <time>{{ project.date | date_to_string  }}</time>
      <span> {{project.client}} </span>

      <p>
        <!-- Excerpt-->
        {% if post.content contains '<!--more-->' %}
        {{ post.content | split:'<!--more-->' | first }}
        {% else %}

        {{ project.excerpt | strip_html | truncatewords: 26  }}
        {% endif %}</p>

    </article>
    {% endfor %}
  </div>
</section>