<div class="title-box">
  <h2 class="title-box__heading">最新專案</h2>
  <span class="title-box__subheading">New Project</span>
</div>



<h1>testing</h1>
<div class="new-blog-list">
  {% for post in paginator.posts %}
  <div class="new-blog-list__post-item">
    <a href="{{ base }}{{ post.url }}"><img src="{{ base }}{{ post.image }}" alt=""></a>
    <div class="post-item__content">
      <a href="{{ base }}{{ post.url }}">
        <h2 class="post-item__title">{{ post.title-tc }}</h2>
      </a>
      <time class="post-item__date">{{ post.date | date_to_string }}</time>

      <!-- Excerpt stop point set -->
      {% if post.content contains '<!--more-->' %}
      {{ post.content | split:'<!--more-->' | first }}
      {% else %}
      <!-- Word maxium -->
      {{ post.excerpt | strip_html | truncatewords: 26  }}
      {% endif %}

    </div>

    <span class="post-item__categories">分類於——
      <a href="/categories/#{{post.categories}}{% if post.categories == empty %}uncategorized{% endif %}">
        {% if post.categories == empty %}未分類{% endif %}
        {{ post.categories }}
      </a>
    </span>
  </div>


  {% endfor %}
</div>


{% if paginator.total_pages > 1 %}
<div class="pagination">

  <div class="pagination-wrapper">
    <!--  Previous Page -->
    {% if paginator.previous_page %}
    <a class="pagination-item" href="{{ paginator.previous_page_path | relative_url }}">&laquo; 上一頁</a>
    {% else %}
    <span class="pagination-item pagination-item--disable">&laquo; 上一頁</span>
    {% endif %}

    <!-- Pagination list -->
    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em class="pagination-list pagination-selected">{{ page }}</em>
    {% elsif page == 1 %}
    <a class="pagination-list" href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
    <a class="pagination-list" href="{{ site.paginate_path | relative_url | replace: ':num', page}}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    <!-- Next Page  -->
    {% if paginator.next_page %}
    <a class="pagination-item" href="{{ paginator.next_page_path | relative_url }}">下一頁 &raquo;</a>
    {% else %}
    <span class="pagination-item pagination-item--disable">下一頁 &raquo;</span>
    {% endif %}
  </div>
  {% endif %}
</div>