<div class="share-box">

  <div class="title-box">
    <div class="title-box__inner">
      <span>Share post</span>
      <h2>喜歡可以，<br>推廣這篇文章:)</h2>
    </div>
  </div>

  <div class="post-share">
    <a href="https://www.facebook.com/sharer/sharer.php?u={{site.url}}" target="_blank">
      <!-- svg1 -->
      <img src="{{base}}/assets/imgs/page/universal/social/ig.svg" alt="">
    </a>

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{site.url}}" data-size="large">
      <!-- svg2 -->
      <img src="{{base}}/assets/imgs/page/universal/social/ig.svg" alt="">

    </a>

    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text={{site.url}}" data-size="large">
      <!-- svg3 -->
      <img src="{{base}}/assets/imgs/page/universal/social/ig.svg" alt="">


    </a>
  </div>
</div>